<table class="table table-bordered table-striped list-uploads">
    <caption>
        {% if caption is defined %}
            {{ caption }}
        {% endif %}
    </caption>
    {% if exams %}
        <a href="/exam/upload" class="btn btn-primary btn-small pull-right"><i class="icon-plus"></i> Add New</a>
        <thead>
            <tr>
                {% if list is defined %}
                    <th>Edit</th>
                    <th>File</th>
                {% endif %}
                <th>Year</th>
                <th>Term</th>
                <th>Subject Code</th>
                <th>Cross-Listed As</th>
                <th>Access Level</th>
                <th>Notes</th>
                <th>Content Owner</th>
                <th>Faculty</th>
                <th>Department</th>
                {% if list is defined %}
                    <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for exam in exams %}
                <tr>
                    {% if list is defined %}
                        <td class="icon-td"><a href="{{ url('update_exam', {'examID': exam.id}) }}"><i class="icon-edit"></i></a></td>
                        <td><a href="{{ exam.getWebPath }}">View file</a></td>         
                    {% endif %}
                    <td>{{ exam.year }}</td>
                    <td>{{ exam.term | capitalize }}</td>
                    <td>{{ exam.subjectcode }}</td>
                    <td>{{ exam.crosslisted }}</td>
                    <td>{{ exam.getAccessLevelString }}</td>
                    <td>{{ exam.comments }}</td>
                    <td>{{ exam.legalcontentowner }}</td>
                    <td>{{ exam.faculty }}</td>
                    <td>{{ exam.dept }}</td>
                    {% if list is defined %}
                        <td class="icon-td"><a href="{{ url('delete_exam', {'examID': exam.id}) }}"><i class="icon-trash"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th>No exams currently in the database</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Would you like to <a href="/exam/upload">upload an exam</a>?</td>
            </tr>
        </tbody>
    {% endif %}
</table>