<table class="table table-striped list-uploads">
    <caption>
        {% if caption is defined %}
            {{ caption }}  <a href="/exam/upload" class="btn btn-primary btn-small pull-right"><i class="icon-plus"></i> Add New</a>
        {% endif %}
    </caption>
    {% if exams %}
        
        <thead>
            <tr>
                {% if list is defined %}
                    <th>Edit</th>
                    <th>Delete</th>
                {% endif %}
                <th class="hidden-phone">Uploaded</th>
                <th>Course</th>
                {% if list is defined %}
                    <th>File</th>
                {% endif %}
                <th>Access Level</th>
                <th class="hidden-phone">Notes</th>
                <th>Content Owner</th>
                <th class="hidden-phone">Faculty &amp; Department</th>
            </tr>
        </thead>
        <tbody>
            {% for exam in exams %}
                <tr>
                    {% if list is defined %}
                        <td class="td-icon"><a href="{{ url('update_exam', {'examID': exam.id}) }}"><i class="icon-pencil"></i></a></td>       
                        <td class="td-icon"><a href="{{ url('delete_exam', {'examID': exam.id}) }}" onclick="return confirm('Are you sure you want to delete this material for {{exam.subjectcode}}?');"><i class="icon-trash"></i></a></td>
                    {% endif %}
                    <td class="hidden-phone">{{ exam.created|date('M j, Y') }}</td>
                    <td class="td-course">{{ exam.year }} {{ exam.term | capitalize }} - {{ exam.subjectcode }} {% if exam.crosslisted %}({{ exam.crosslisted }}){% endif %}</td>
                    {% if list is defined %}
                        <td>
                            {% if exam.getWebPath %}
                                <a href="{{ exam.getWebPath }}">View File</a>         
                            {% else %}
                                No file uploaded yet
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ exam.getAccessLevelString }}</td>
                    <td class="hidden-phone">{{ exam.comments }}</td>
                    <td>{{ exam.legalcontentowner }}</td>
                    <td class="hidden-phone">{{ exam.faculty }} - {{ exam.dept }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th>No material currently in the database</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if list is defined %}
                    <td>Would you like to <a href="/exam/upload">upload material</a>?</td>
                {% else %}
                    <td>Please widen your search criteria.</td>
                {% endif %}
            </tr>
        </tbody>
    {% endif %}
</table>