{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block body %}

    <h1>Search Assessment Material</h1>

    <p>Welcome to UBC's Assessment Material Archive, a searchable database of current and past course exams and other assessment materials. This material is provided voluntarily by UBC instructors to help students prepare for upcoming tests.</p>

    <!-- need users to log in before they can search (for now) -->
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    
        <p class="alert alert-info"><i class="icon-exclamation-sign"></i> Please <strong><a href="{{ url('login') }}">log in with your UBC CWL</a></strong> to search the archive.</p>
    
    {% else %}

        {{ form_start(form, {'attr': {'class': 'validate-form'}}) }}
        
            <fieldset>
            
                <legend>Find Materials by Course</legend>
                
                <div class="row-fluid">
                    
                    <div class="span8">
                        {{ form_row(form.subject_code) }}
                    </div>
                    
                    <div class="span4">
                        <!-- if using text field above, need empty label here for alignment:
                        <label class="hidden-phone">&nbsp;</label>
                        OR just do away with submit button altogether and have onchange trigger results
                        -->
                        {{ form_row(form.go, { 'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    
                </div>
            
            </fieldset>
        
        {{ form_end(form) }}
        
        <!-- example of where table goes/looks like
             show *only* when results are available, i.e, a search has been done
             can results be ordered by year, with most recent year first? -->
        <table class="table table-striped">
            
            <!-- can we populate this caption with course number selected and number of results after each search? -->
            <caption>BIOL 112 - 4 Results</caption>
            
            <thead>
                <tr>
                    <th>Term</th>
                    <th>File</th>
                    <th class="hidden-phone">Type</th>
                    <th>Notes</th>
                </tr>
            </thead>
            
            <tbody>
                <!-- begin loop for results (iterate over tr) -->
                <tr>
                    <td>
                        2013 S
                    </td>
                    <td>
                        <!-- show *only* if user can download this file -->
                        <a class="btn-download btn btn-primary" href=""><i class="icon-download-alt"></i> Download</a>
                        <!-- show *only* if user can't download this file, where xxxx = access level, e.g., "students in this faculty":
                        <em class="muted">File available for xxxx only</em>
                        -->
                    </td>
                    <td class="hidden-phone">
                        Actual Exam
                    </td>
                    <td>
                        Here is a note about this exam. You may want to study for this exam. You may want to study really hard. Here is another note about this exam. You really do want to study for this exam. You want to study really really hard.
                    </td>
                </tr>
                <!-- end loop for results -->
                <!-- start example code (can be removed) -->
                <tr>
                    <td>2012 W</td>
                    <td><em class="muted">File available for course participants only</em></td>
                    <td class="hidden-phone">Actual Exam</td>
                    <td>This exam was super hard.</td>
                </tr>
                <tr>
                    <td>2011 W</td>
                    <td><a class="btn-download btn btn-primary" href=""><i class="icon-download-alt"></i> Download</a></td>
                    <td class="hidden-phone">Practice Exam</td>
                    <td>This practice exam was intended to help some students actually pass.</td>
                </tr>
                <tr>
                    <td>2010 W</td>
                    <td><a class="btn-download btn btn-primary" href=""><i class="icon-download-alt"></i> Download</a></td>
                    <td class="hidden-phone">Other Material</td>
                    <td>This practice material did not help. No one passed the exam this year. I blame the Olympics.</td>
                </tr>
                <!-- end example code -->
            </tbody>
            
        </table>
        
        <h3>How to use this material</h3>
        
        <p>Please use these materials freely for private study, but do not repurpose, redistribute, or publish anything from this site. University copyright applies to all content. Good luck!</p>
        
        <h3>If you can't find material for a course</h3>
        
        <p>Materials are provided voluntarily, so not all instructors choose to participate. Students are encouraged to ask instructors about adding new material for missing courses. Instructors can easily upload files on this site after logging in with their CWL.</p>

    {% endif %}

    <h3>For additional study tools</h3>
    
    <ul class="link-list">
        <li><a href="http://learningcommons.ubc.ca/">Chapman Learning Commons</a></li>
        <li><a href="http://learningcommons.sauder.ubc.ca/">Canaccord Learning Commons</a></li>
        <li><a href="http://www.ubc.ca/okanagan/learningcommons/welcome.html">Okanagan Learning Commons</a></li>
        <li><a href="http://www.math.ubc.ca/Ugrad/pastExams/">UBC Mathematics Department Past Exams</a></li>
        <li><a href="http://science.ubc.ca/students/resources/exams">UBC Faculty of Science Old Exams</a></li>
        <li><a href="http://law.library.ubc.ca/exams/">UBC Faculty of Law Exams</a></li>
    </ul>
    
{% endblock %}