{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block body %}

    <h1>Search the Exam Prep Database</h1>

    <p>Welcome to UBC's Exam Prep Database, a searchable database of current and past course exams and other assessment-related material. All files in this database have been uploaded by instructors for private study purposes. Please do not repurpose, redistribute, or publish anything from this site. University copyright applies to all content.</p>

    <p>In addition to the uploaded files and additional resources below, please see the <a href="{{ url('exam_guide') }}">FAQ</a> for tips on how you can get the most out of this database.</p>

        {{ form_start(form, {'attr': {'class': 'validate-form'}}) }}

            <h2>Find Material by Course</h2>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <!-- if user has not logged in -->
                <p><i class="icon-exclamation-sign"></i> <strong>UBC Users:</strong> To access <em>all</em> materials available to you, first <strong><a href="{{ url('exam_login') }}">log in with your UBC CWL</a></strong>, and then conduct a search below.</p>
            {% endif %}

            <fieldset>

                <div class="row-fluid search-box-row">

                    <div class="span8">
                        {{ form_label(form.subject_code) }}
                        {{ form_widget(form.subject_code, { 'attr': {'class': 'main-search'} }) }}
                    </div>

                    <div class="span4">
                        <!-- need empty label here for alignment
                             FUTURE TO DO: change results to on click and remove submit button and label? -->
                        <label class="hidden-phone">&nbsp;</label>
                        {{ form_widget(form.search, { 'attr': {'class': 'btn btn-primary'}}) }}
                    </div>

                </div>

            </fieldset>

        {{ form_end(form) }}

        <!-- show *only* when results are available AND a subject code has been selected, i.e, a search has been done
             FUTURE TO DO: can results be ordered by course year, with most recent year first? -->
        {% if exams|length > 0 and subjectCodeLabel is not empty %}

            <table class="table table-striped">

                <!-- populate caption with course number selected and number of results after each search -->
                <caption>{% if subjectCodeLabel is empty %}All Resources{% else %} {{ exams|length }} found for {{ subjectCodeLabel }}{% endif %} {% if not is_granted('IS_AUTHENTICATED_FULLY') %}- <a href="{{ url('exam_login') }}">Log in</a> to search for more{% endif %}</caption>

                <thead>
                    <tr>
                        <th>Term</th>
                        {% if subjectCodeLabel is empty %}
                            <th>Course</th>
                        {% endif %}
                        <th>File</th>
                        <th class="hidden-phone">Type
                            <a class="exam-tooltip">
                                <i class="icon-question-sign"></i>
                                <span>
                                    <em><i class="icon-info-sign"></i> Information on Types</em>
                                    A <strong>past exam</strong> has been used to assess students in a past section of the course. A <strong>practice exam</strong> is a set of questions that have not been used previously but do parallel the types of questions students can expect from the instructor and course. Other <strong>exam prep material</strong> is general study material to help students prepare for an exam in the instructor's course.
                                </span>
                            </a>
                        </th>
                        <th class="hidden-phone">Instructor</th>
                        <th>Notes</th>
                    </tr>
                </thead>

                <tbody>
                    {% for exam in exams %}
                        <tr>
                            <td>
                                {{ exam.year }} {{ exam.term | capitalize }}
                            </td>
                            {% if subjectCodeLabel is empty %}
                                <td>
                                    {{ exam.subjectcode }}
                                </td>
                            {% endif %}
                            <td>
                                <a class="btn-download btn btn-primary" href="{{ path('exam_download', {'filename': exam.path}) }}"><i class="icon-download-alt"></i> Download</a>
                            </td>
                            <td class="hidden-phone">
                                {{ exam.getTypeString }}
                            </td>
                            <td class="hidden-phone">
                                {{ exam.legalcontentowner }}
                            </td>
                            <td>
                                {{ exam.comments }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

            <p class="alert alert-warning"><strong>Never assume that past or sample exams will be similar to exams used in a current section of a course</strong>&mdash;unless your instructor has explicitly indicated this. Note especially when material was uploaded either by a different instructor than the instructor teaching the current course or for a course that took place more than one or two years ago.</p>

            <div class="wiki-toggle">

                <hr />

                <h3 class="resource-header">Study resources for exams in this department</h3>

                <div class="wiki-content">
                    <!-- wiki content loads here -->
                </div>

            </div>

        {% endif %}

    <hr />

    <h3 class="resource-header">Additional resources for exam preparation</h3>

    <div class="row-fluid resource-links">

        <div class="span2">
            <a class="btn btn-info" href="http://learningcommons.ubc.ca/student-toolkits-2/preparing-for-exams/" title="Follow steps to help you prepare for exams"><i class="icon-archive"></i> Exam Prep<br/> Toolkit</a>
        </div>
        <div class="span2">
            <a class="btn btn-info" href="http://learningcommons.ubc.ca/student-toolkits-2/thinking-critically/" title="Understand what critical thinking means and how to think critically"><i class="icon-comments-alt"></i> Critical Thinking<br/> Toolkit</a>
        </div>
        <div class="span2">
            <a class="btn btn-info" href="http://learningcommons.ubc.ca/tutoring-studying/learning-and-memory/" title="Learn to work your brain and expand your mind""><i class="icon-lightbulb"></i> Learning &amp;<br /> Memory Tips</a>
        </div>
        <div class="span2">
            <a class="btn btn-info" href="http://www.lib.sfu.ca/sites/default/files/12333/multi-exam.pdf" title="How to reduce exam anxiety"><i class="icon-meh"></i> Overcoming Exam<br/> Anxiety (PDF)</a>
        </div>
        <div class="span2">
            <a class="btn btn-info" href="http://www.lib.sfu.ca/sites/default/files/12333/multi-examPrep.pdf" title="How to prepare for different types of exams, including essay exams"><i class="icon-pencil"></i> Exam Preparation<br /> &amp; Writing (PDF)</a>
        </div>
        <div class="span2">
            <a class="btn btn-info" href="http://www.calendar.ubc.ca/vancouver/index.cfm?tree=3,41,91,0" title="How to handle exam hardships and clashes"><i class="icon-calendar"></i> Handling Exam<br /> Schedule Conflicts</a>
        </div>

    </div>

{% endblock %}
