{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% if is_granted('ROLE_ADMIN') %}
    {% set caption = "All materials" %}
{% else %}
    {% set caption = "Material uploaded by " ~ app.user.username %}
{% endif %}

{% block body %}
    
    <h1>Manage Existing Material</h1>

    {% if not is_granted('ROLE_ADMIN') %}
        <p>You can edit details or delete all the content for anything you've personally uploaded here. Simply click the edit or delete icons in the table below.</p>

        <p><strong>Don't see your material?</strong> If you need to edit or delete material that was uploaded by <em>someone else</em> on your behalf, please contact that individual to make the change. Alternatively, you may <a href="mailto:examdb.support@UBC.ca?subject=Request for Change&body=Please update these exam database materials as specified below:">contact this site's administrator</a> to make the change.</p>
    {% endif %}

    {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
    {% endif %}

    <button class="btn btn-inverse dropdown-toggle" data-toggle="collapse" data-target="#filters">
        Filter Material By...
        <i class="icon-caret-down"></i>
    </button>

    <div id="filters" class="collapse">
        
        <form class="well" action="{{ path('exam_list') }}" method="get" {{ form_enctype(filterForm) }}>
            
            <p>To search with a wildcard, add "%" to the front or end of your search term, e.g., "CPSC%".</p>
            
            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(filterForm.subject_code, {'label': 'Course', 'attr': {'placeholder': 'e.g. ENGL 112'}}) }}
                </div>
                <div class="span4">
                    {{ form_row(filterForm.year) }}
                </div>
                <div class="span4">
                    {{ form_row(filterForm.term) }}
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(filterForm.legal_content_owner, {'label': 'Content owner'}) }}
                </div>
                <div class="span4">
                    {{ form_row(filterForm.legal_uploader, {'label': 'File uploaded by'}) }}
                </div>
                {{ form_widget(filterForm._token) }}
            </div>

            <p>
                <button name="filter_action" value="reset">Reset</button>
                &nbsp;
                <button class="btn btn-primary btn-small" type="submit" name="filter_action" value="filter">Filter</button>
            </p>

        </form>
    </div>

    {{ include ('UBCExamMainBundle:Default:exam-table.html.twig', {'entities': entities, 'caption': caption, 'list': true }) }}

{% endblock %}