{{ form_start(form) }}

    {{ form_errors(form) }}
    
    <fieldset>
	
	<legend>Course Information</legend>
	
	<div class="row-fluid">
	
	    <div class="span3">
		{{ form_row(form.faculty, {'label': 'Faculty', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
		{{ form_row(form.dept, {'label': 'Department', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
	        {{ form_row(form.year, {'label': 'Year', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
		{{ form_row(form.term, {'label': 'Term', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	
	</div>
	
	<div class="row-fluid">
	
	    {# upload has select box + text box, while edit only has textbox #}
	    {% if form.subject_code.vars.form.vars.block_prefixes.1 is same as("choice") %}
		<div class="short-select">
		    {{ form_label(form.subject_code, null, {'label': 'Subject code', 'label_attr': {'class': 'required-star'}}) }}
		    {{ form_errors(form.subject_code_number) }}
		    <div class="span3">
			{{ form_widget(form.subject_code) }}
		    </div>
		    <div class="span3">
			{{ form_widget(form.subject_code_number) }}
		    </div>
		</div>
	    {% else %}
		<div class="span3">
		    {{ form_row(form.subject_code, {'attr': {'placeholder': 'e.g. GEOG 281'}, 'label': 'Subject code', 'label_attr': {'class': 'required-star'}}) }}
		</div>
	    {% endif %}
	    
	    <div class="span3">
		{{ form_row(form.cross_listed, {'attr': {'placeholder': 'e.g. ASTU 202'}, 'label': 'Cross-listed as (subject code)'}) }}
	    </div>
	    <div class="span3">
	    </div>
	    
	</div>
	
    </fieldset>
    
    <fieldset>
	
	<legend>Exam Details</legend>
	
	<div class="row-fluid">
	    
	    <div class="span3">
		{{ form_row(form.legal_content_owner, {'label': 'Content legally owned by', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
		{{ form_row(form.legal_uploader, {'label': 'File uploaded by', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
		{{ form_row(form.access_level, {'label': 'Who can access this exam', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
		{{ form_row(form.comments, {'label': 'Notes about this exam'}) }}
	    </div>
	    
	</div>
	
    </fieldset>
    
    
    
    <fieldset>
	
	<legend>Legal Terms &amp; Upload</legend>
	
	<div class="row-fluid">
	    
	    <div class="span6">
		<div class="license">
		    
		    <p class="text-center">
			<strong>The University of British Columbia ("UBC")<br />
			License For Works</strong>
		    </p>
		    
		    <hr />
		    
		    <p>WHEREAS:</p>
		    
		    <ol type="A">
			<li>You have created the work described in the Schedule to this License (the "Work"); and</li>
			<li>UBC wishes to obtain your consent to use your Work as set out below.</li>
		    </ol>
		    
		    <p>You agree as follows:</p>
		    
		    <ol type="1">
			<li>
			    You hereby grant to UBC a worldwide, royalty-free, non-exclusive, perpetual license to:
			    <ol type="a">
				<li>use, copy, distribute, display, broadcast, and otherwise make your Work available in a way that allows an UBC affiliate (Student, Faculty, Staff) or a member of the public to have restricted access to the Work from a place and at a time individually chosen by that affiliate or member of the public, without charge in any manner at all, for any research, academic, educational or other purposes in connection with the promotion of UBC and its activities (the "Purposes").</li>
			    </ol>
			</li>
			<li>
			    You represent and warrant to UBC that:
			    <ol type="a" start="2">
				<li>the Work nor use of the Work as contemplated herein does not and will not infringe any copyright or other intellectual property rights of any other person; and</li>
				<li>the Work does not contain any confidential or proprietary information belonging to any other person unless contained in the Work with such person's express consent.</li>
			    </ol>
			</li>
			<li>
			    You acknowledge and agree that personal information, including your name, Images, and any other personal information provided by you to UBC in connection with the Work, is being collected pursuant to Section 26 of the Freedom of Information &amp; Protection of Privacy Act, R.S.B.C. 1996, c.165. You consent to use of such information by UBC for the Purposes and in accordance with this License.
			</li>
			<li>
			    You hereby covenant and agree to indemnify and save harmless UBC, its Board of Governors, faculty, staff, students, officers, employees and agents, from any and all claims, demands, damages and proceedings arising from or relating to any use by UBC or any other person (including third parties) of the Work. This Section 4 shall survive any termination or expiry of this Consent.
			</li>
			<li>
			    This Consent shall be governed by and construed in accordance with the laws of the Province of British Columbia. The parties hereby attorn to the exclusive jurisdiction of the Supreme Court of British Columbia.
			</li>
			<li>
			    You hereby acknowledge and agree that you have read and understood this License before signing below.
			</li>
		    </ol>
		    
		    <p><strong>Schedule: </strong> Description of the Work</p>
		    
		    <p>The "work" described in this license may refer to:</p>
		    
		    <ol type="1">
			<li>Examination samples (midterm or final) in its original format as presented to students</li>
			<li>Examination samples (midterm or final) that contain mock or practice questions or modified format</li>
			<li>Practice question sets</li>
			<li>Any evaluation material that deemed useful for students by the instructor</li>
		    </ol>
		    
		</div>
		
	    </div>
	    
	    <div class="span3 inner-rows">
		<div class="checkbox">
		    {{ form_label(form.legal_agreed, null, {'label': 'Consent', 'label_attr': {'class': 'required-star agreement-label'}}) }}
		    {{ form_widget(form.legal_agreed) }}
		    {{ form_label(form.legal_agreed, null, {'label': 'I agree to this License', 'label_attr': {'class': 'agreement-text'}}) }}
		    {{ form_errors(form.legal_agreed) }}
                </div>
		
		{{ form_row(form.legal_date, {'label': 'Date of consent', 'label_attr': {'class': 'required-star'}}) }}
	    </div>
	    
	    <div class="span3">
		{{ form_row(form.file, {'label': 'Exam file', 'label_attr': {'class': 'required-star'}, 'attr': {'class': 'btn-small'}}) }}
	    </div>
	
	</div>
        
    </fieldset>
    
    <div class="row-fluid text-center">
	{{ form_row(form.upload, {'label': 'Save', 'attr': {'class': 'btn-large btn-primary btn-save'}}) }}
    </div>
    
{{ form_end(form) }}

