{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
    
    <ul class="breadcrumb expand">
        <li>
            <a href="{{ url('user') }}">Edit Users</a> <span class="divider">/</span>
        </li>
        <li class="active">Edit '{{ entity.username }}'</li>
    </ul>

    <h1>Edit '{{ entity.username }}'</h1>
    
    <p>Users can have one or more of the following roles:</p>
    
    <ul>
        <li><strong>ROLE_USER</strong> (Default): All users who log into the application receive this role</li>
        <li><strong>ROLE_STUDENT</strong>: Users with a student role can see additional exam prep material based on courses they are enrolled in</li>
        <li><strong>ROLE_STAFF</strong>: Users with a staff role can upload material and manage any content they've uploaded</li>
        <li><strong>ROLE_ADMIN</strong>: Users with an admin role can see and manage all material in the database, upload new material, edit users (users, students, staff, and other admins), and download activity logs</li>
        <li><strong>ROLE_SUPER_ADMIN</strong>: Users with a super admin role are identical to those with an admin role, but they can edit all user roles</li>
    </ul>
    
    <form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <fieldset>
            <legend>
                <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-primary btn-small pull-right" type="submit" onclick="return confirm('Are you sure you want to delete this user?');"><i class="icon-trash"></i> Delete User?</button>
                </form>
                User Details
            </legend>
            <input type="hidden" name="_method" value="PUT" />
            <div class="row-fluid">
                <div class="span6">
                    {{ form_label(edit_form.username) }}
                    {{ form_errors(edit_form.username) }}
                    {{ form_widget(edit_form.username) }}
                </div>
                <div class="span6">
                    {{ form_label(edit_form.roleString) }}
                    {{ form_errors(edit_form.roleString) }}
                    {{ form_widget(edit_form.roleString) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_label(edit_form.firstname) }}
                    {{ form_errors(edit_form.firstname) }}
                    {{ form_widget(edit_form.firstname) }}
                </div>
                <div class="span6">
                    {{ form_label(edit_form.lastname) }}
                    {{ form_errors(edit_form.lastname) }}
                    {{ form_widget(edit_form.lastname) }}
                </div>
            </div>
        </fieldset>
        <div class="text-center">
            <button type="submit" class="btn-large btn-primary btn-save">Save</button>
        </div>
    </form>

{% endblock %}