{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}

    <h1>Edit Users</h1>

    {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
    {% endif %}

    <p>You can update a user's role in the application here. Users can have one or more of five different roles: User, Student, Staff, Admin, and Super Admin.</p>

    <button class="btn btn-inverse dropdown-toggle" data-toggle="collapse" data-target="#filters">
        Filter User List By...
        <i class="icon-caret-down"></i>
    </button>

    <div id="filters" class="collapse">
        {{ form_start(filterForm, {'class': 'well', 'method': 'GET', 'action': path('user')})  }}

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(filterForm.username) }}
                </div>
                <div class="span4">
                    {{ form_row(filterForm.firstname, {'label': 'First Name'}) }}
                </div>
                <div class="span4">
                    {{ form_row(filterForm.lastname, {'label': 'Last Name'}) }}
                </div>
                {{ form_rest(filterForm) }}
            </div>

            <p>
                <button name="filter_action" value="reset">Reset</button>
                &nbsp;
                <button class="btn btn-primary btn-small" type="submit" name="filter_action" value="filter">Filter</button>
            </p>

        {{ form_end(filterForm)  }}
    </div>

    <table class="table table-striped list-uploads">
        <caption>
            Current Users
            <a class="btn btn-primary btn-small pull-right" href="{{ path('user_new') }}">
                <i class="icon-plus"></i>
                Add User
            </a>
        </caption>
        <thead>
            <tr>
                <th class="text-center">Edit</th>
                <th>Username</th>
                <th>Role(s)</th>
                <th class="hidden-phone">First Name</th>
                <th class="hidden-phone">Last Name</th>
                <th class="hidden-phone">Last Logged In</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="td-icon">
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil"></i>
                    </a>
                </td>
                <td>{{ entity.username}}</td>
                <td>{{ entity.roleString|replace({'ROLE_': ' '}) }}</td>
                <td class="hidden-phone">{{ entity.firstname }}</td>
                <td class="hidden-phone">{{ entity.lastname }}</td>
                <td class="hidden-phone">{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            {% endfor %}
            {% if entities is empty %}
                <tr>
                    <td colspan="6">
                        No users found
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="text-center">
        {{ pagerHtml|raw }}
    </div>

{% endblock %}
